.report-modal{
    margin-top: 20px;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 4em;
    padding-right: 4em;
    padding-bottom: 4em;
    background-color: #171717;
    border-radius: 25px;
    transition: .4s ease-in-out;
    color:white;
}

.report-modal:hover{
    transform: scale(1.05);
    border: 1px solid #b24Df4;
}