* {
    font-family: 'Questrial', sans-serif;
}

.form {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 4em;
    padding-right: 4em;
    padding-bottom: 4em;
    background-color: #171717;
    border-radius: 25px;
    transition: .4s ease-in-out;
}
  
.form:hover {
    transform: scale(1.05);
    border: 1px solid #b24Df4;
}

.has-error:hover {
    border-color: red; /* Cor da borda quando há um erro */
}

#heading {
    text-align: center;
    margin: 2em;
    color: #b24Df4;
    font-size: 1.7em;
}
  
.field {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 25px;
    padding: 1em;
    border: none;
    outline: none;
    color: white;
    background-color: #171717;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}
  
.input-icon {
    height: 1.3em;
    width: 1.3em;
    fill: white;
}
  
.input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: #d3d3d3;
}
  
.form .btn {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 2.5em;
}
  
.button1 {
    padding: 0.5em;
    padding-left: 2.3em;
    padding-right: 2.3em;
    border-radius: 5px;
    width: 170px;
    height: 60px;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-color: #252525;
    color: white;
}
  
.button1:hover {
    background-color: #b24Df4;
    color: white;
}

.alerta {
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: red; 
    font-size: 14px
}

.triangle-image {
    position: fixed; 
    top: 0; 
    right: 0; 
    z-index: -1; 
}

.triangle-image2 {
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: -1; 
}

.logo {
    position: fixed; 
    top: 0;
    left: 500;
    z-index: -1; 
}

.logo img {
    max-width: 75%; 
}