body {
    margin: 0;
    padding: 0;
    font-family: 'Questrial', sans-serif;
}

.perfil {
    margin-left: 80px;
    padding: 20px;
}

.title{
    font-size: 34px;
    color: white;
    margin-left: 340px;
    margin-top: 10px;
}

.gray-background {
    background-color: #323232; /* Cor de fundo cinza */
    width: 100%;
    height: 400px; /* Altura do fundo cinza */
    position: relative;
    border-radius: 25px;
    bottom: 0;
    z-index: -1;
}

.gray-background2 {
    background-color: #323232; /* Cor de fundo cinza */
    width: 1000px;
    height: 400px; /* Altura do fundo cinza */
    position: relative;
    margin-left: 400px;
    margin-top: 20px;
    border-radius: 25px;
    bottom: 0;
    z-index: -1;
}

.cover-photo {
     /* Substitua 'cover-photo.jpg' pela URL da sua foto de capa */
    background-size: cover;
    background-position: center;
    margin-left: 300px;
    margin-top: 55px;
    width: 100%;
    height: 200px; 
    width: 1200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
}

.profile-photo {
    background-size: cover;
    background-position: center;
    width: 150px; /* Diâmetro da foto de perfil redonda */
    height: 150px; /* Diâmetro da foto de perfil redonda */
    border-radius: 50%; /* Tornar a foto de perfil redonda */
    position: absolute;
    margin-left: 15px;
    bottom: -120px; /* Metade da altura da foto de perfil redonda */
    left: 20px;
}

.btn {
    position: absolute;
    top: 220px; /* Ajuste a distância do topo conforme necessário */
    right: 25px; /* Ajuste a distância da direita conforme necessário */
}

.editar-canal-button {
    padding: 0.5em;
    margin-right: 5px;
    border-radius: 5px;
    width: 60px;
    height: 40px;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-color: #252525;
    color: white;
}

.editar-canal-button:hover {
    background-color: #B42DF4;
    color: white;
}

.inscrever-se-button {
    padding: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 5px;
    width: 130px;
    height: 40px;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-color: #252525;
    color: white;
}

.inscrever-se-button:hover {
    background-color: #B42DF4;
    color: white;
}

.nome-do-canal {
    color: #fff;
    font-size: 24px;
    margin-left: 500px;
    margin-top: 30px;
}

.channel-info {
    margin-top: 20px;
    margin-left: 350px;
    padding: 20px;
    width: 1000px;
    height: 70px;
    border-radius: 10px;
}

h1 {
    font-size: 24px;
    margin-right: 20px;
}

p {
    font-size: 16px;
    color: #666;
}

.button-excluir {
    border-radius: 50%;
    border: none;
    display: flex;
    place-items: center;
    background-color: transparent;
    cursor: pointer;
    margin-left:-100px;
  }
  
  .button-excluir > svg {
    border-radius: inherit;
    padding: 0.5rem;
    fill: #fff;
    width: 38px;
    height: 38px;
  }
  
  .button-excluir > svg:active {
    background-color: rgba(65, 65, 65, 0.5);
  }
  
  .button-excluir > svg:not(:active) {
    animation: fadeOut 0.9s;
  }
  
  @keyframes fadeOut {
    0% {
      outline: 1px solid rgba(90, 90, 90, 0.5);
   /* If you use border it will take space inside and slightly move the SVG */
    }
  
    100% {
      background-color: transparent;
    }
  }
  
.video-grid {
    display: grid;
    grid-template-columns: repeat(2, 33%);
    grid-gap: 20px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    gap:10px;
    margin-left: 300px;
    margin-top: -10px;
}

.video-thumbnail {
    width: 100%; /* A imagem preencherá todo o espaço disponível na div */
    height: auto; /* A altura se ajustará automaticamente para manter a proporção */
    border-radius: 5%;
}

.dropdown {
    position: relative;
    display: inline-block;
    
}

.dropdown-menu {
    position: absolute;
    background-color: #1a1a1a;
    min-width: 130px;
    box-shadow: 0px 0px 2px #B42DF4;
    border-radius: 5px;
    z-index: 1;
    margin-top: 0rem;
    margin-left: -10rem; /* Ajuste o valor de margin-left conforme necessário */
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Estilo dos links do dropdown */
.dropdown-menu button {
    background-color: #B42DF4;
    color: white;
    display: block;
    width: 130px;
    height: 40px;
    border-radius: 5px;
    box-shadow: none;
    border: none;
}

/* Estilo dos links do dropdown quando o mouse passa por cima */
.dropdown-menu button:hover {
    background-color: #be49f4
    
}

/* Exibir o dropdown quando o mouse passa sobre a imagem */
.dropdown:hover .dropdown-menu {
    opacity: 1; /* Torna o dropdown visível */
    transform: translateY(0); 
}

.confirmarExcluir {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    z-index: 1000;
    display: none;
}
/* Estilos para os botões no balão de confirmação */
.confirmarExcluir-button {
    margin: 10px;
}