body {
    font-family: 'Questrial';
    background: #1A1818;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Alinha os elementos verticalmente ao topo */
    color: white;
}

.video-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: baseline;
    margin-left: -20rem;
}

.video-container video {
    width: 1100px; /* Defina o tamanho desejado */
    height: 700px; /* Defina o tamanho desejado */
    margin-left: 15rem;
}

.comment-container {
    flex: 1;
    margin-left: 5rem;
    margin-top: 5rem;
}

.comment-container h2 {
    text-align: center;
    font-size: 24px;
}

.comment-container form {
    text-align: center;
}

.comment-container form textarea {
    width: 300px;
    max-width: 100%;
}

.comment-container form button {
    margin-top: 10px;
    margin-left: -8rem;
}

.comment {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 0rem;
    margin-top: 2rem;
}

.comment p {
    margin: 0;
}

.comment p:first-child {
    margin-right: 10px;
}